[submodule "development/stable-baselines3"]
	path = development/stable-baselines3
	url = https://github.com/DLR-RM/stable-baselines3
[submodule "development/sumo-rl"]
	path = development/sumo-rl
	url = https://github.com/LucasAlegre/sumo-rl
[submodule "utils/sumo-rl"]
	path = utils/sumo-rl
	url = https://github.com/LucasAlegre/sumo-rl
[submodule "utils/stable-baselines3"]
	path = utils/stable-baselines3
	url = https://github.com/DLR-RM/stable-baselines3
